$primary-dark-color: #2e2e2edf;
$secondary-dark-color:#53525232;
$primary-btn-color: #e8b5ce;
$secondary-color: #79c753;

$main-silver-color: #c5c5c591;
$primary-font-stack: "Work Sans", sans-serif;
